@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main {
    background-color: rgba(0, 0, 0, 0.717);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Roboto', sans-serif;
    transition-timing-function: linear;
}

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h1 {
    color: rgba(128, 128, 128, 0.749);
    font-size: 19px;
    letter-spacing: 2px;
}

.SubMenu {
    height: 100%;
    width: 100%;
    background-color: #A020F0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.SubMenuboxs:nth-of-type(1) {

    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
    padding-top: 50px;
}

.SubMenuboxs:nth-of-type(1) h1 {
    background-color: rgb(255, 255, 255);
    height: 67px;
    width: 347.13px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    transition-duration: 0.2s;

}


.SubMenuboxs:nth-of-type(1) p {
    z-index: 1;
    width: 85%;
    font-size: 23px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.SubMenuboxs:nth-of-type(1) p:hover {
    background-color: transparent;
    color: #FF7F50;
}

.SubMenuboxs:nth-of-type(2) {
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
}

.SubMenuboxs:nth-of-type(2) h6 {
    font-size: 15px;
    transition-duration: 0.5s;
    box-sizing: border-box;


}